
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Fusion Byte Tutorial</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Data Pipeline Project Fusion Byte, Author Keyi Yu</h1>
        <p>This is the Fusion Byte of the Data Pipeline class. This
        page should explain what question you want to answer and use
        the visualization tools provided by Google Fusion Table to
        answer it. </p>
      </div>

<div class="content">
<iframe width="1140" height="400" scrolling="yes" frameborder="no" src="https://fusiontables.google.com/embedviz?viz=GVIZ&amp;t=TABLE&amp;q=select+col0%2C+col1%2C+col2%2C+col3%2C+col4+from+1qPU1-9QQpbXsiycDbX0Uf9nN2YKshwTO2osoBW9S+order+by+col3+desc&amp;containerId=googft-gviz-canvas"></iframe>
<iframe width="1140" height="400" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0%2C+col3+from+1qPU1-9QQpbXsiycDbX0Uf9nN2YKshwTO2osoBW9S+limit+1000&amp;viz=HEATMAP&amp;h=true&amp;lat=36.07300765499018&amp;lng=-72.72380223267328&amp;t=1&amp;z=4&amp;l=col0&amp;y=2&amp;tmplt=2&amp;hmd=true&amp;hmg=%2366ff0000%2C%2393ff00ff%2C%23c1ff00ff%2C%23eeff00ff%2C%23f4e300ff%2C%23f4e300ff%2C%23f9c600ff%2C%23ffaa00ff%2C%23ff7100ff%2C%23ff3900ff%2C%23ff0000ff&amp;hmo=0.75&amp;hmr=34&amp;hmw=3&amp;hml=ONE_COL_LAT_LNG"></iframe>

<h2>Question: Which states have the largest density of animals in USA.</h2>
<h3>Using the sort function in google fusion table, we can sort all states according to 'Estimated animal manure per farm land area (kg of N/km2)',
   shown on the fourth column. Our result bases on the assumption the fact that density of animal manure can represent the density of animals. According to
   sorting result, top 5 states are: Delaware, North Carolina, Maryland, Pennsylvania and Georgia. The heapmap below the data is a good visualization for animal
   distribution. As color goes from green to yellow to red, density of animals increases. It is easily to see that there are more animals on east coast than on middle
   west coast of USA. Most top states in the table above are on the east coast.</h3>
</div>

      </div> <!-- /page-header -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
